# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Other common junk
.DS_Store
Thumbs.db
*.log
pyrightconfig.json
archive/
test_model.py

# HF token
HF write token